#display {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block: .75rem;
    margin-inline: 3rem;
    min-width: 11.625rem;
    height: 2.5rem;
    background-color: var(--colour-grey-200);

    user-select: none;
}