.innerContainer {
    display: flex;
    flex-direction: column;
}

.innerContainer .content {
    display: flex;
    flex-direction: row;
}

.innerContainer .control-panel {
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    user-select: none;
}

.toolbar h3{
    margin: 0 0.25rem;
    font-size: 1em;
}

@media screen and (max-width: 675px){
    .innerContainer .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}