@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root {
  --colour-grey-200: #7f7f80;
  --colour-grey-400: #8c8c8d;
  --colour-grey-600: #b2b2b3;
  --colour-accent: blue;
  --colour-border: goldenrod;

}

body {
  background-color: var(--colour-grey-400);
  margin: 0;
  font-family: "Russo One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
